// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
section {
  margin: 0 auto;
  width: 1280px;
  & + section {
    margin-top: 80px;
  }
  &.full {
    width: 100%;
  }
}

li {
  list-style: none;
}
.v-application--wrap {
  height: 100%;
  & > div:first-child:not(.pg-main) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0;
    width: 800px;
  }
}
p {
  margin-bottom:0;
}
a {
  text-decoration: none;
  color:black;
}
h2 {
  font-size: 20px;
}
.btn {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.inp-text {
  width: 300px;
  height: 35px;
  padding: 5px;
  border: 1px solid black;
  color: black;
  &::placeholder {
    color: black;
  }
}
